@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px 20px;
  box-shadow: 0 0 25px 1px #010101;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item-1, .nav-item-2, .nav-item-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger > svg {
  width: 24px;
  height: 24px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 3em;
  height: 3em;
}
.nav-btn:hover {
  background-color: #eeeeee;
}

.display-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 3em;
  height: 3em;
  background-color: rgb(199, 66, 49);
}


.display-picture::after {
  content: "S";
  color: #fff;
  font-weight: 600;
}

.notes-container {
  display: flex;
}